@charset "UTF-8";
/* CSS Document */
body{
	background-color: #BDD9FF;
}
img{
	width:300px;
}

section{
	 width:630px;
	height:300px;
	margin-left: auto;
	margin-right: auto;
}

div {
	float: left;
	width:300px;
	margin-left:10px;
}
.cps {
	font-size: 12px;
	text-align: left
}
.pt {
	font-size: 14px;
	text-align: left
}



